nav {
    height: 10vh;
    width: 100vw;
    padding: 0 40px;
    background-color: transparent !important; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;

            a {
                margin: 0 1.5em;
                text-decoration: none;
                color: #141414;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        #logo {
            margin-right: auto;
        }
    }
}